{% extends 'hospital/homebase.html' %}
{% load static %}
{% block content %}
<br><br><br><br>
<section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto">
      <div class="flex flex-wrap -mx-4 -mb-10 text-center">
        <div class="sm:w-1/2 mb-10 px-4">
          <h2 class="title-font text-2xl font-medium text-gray-900 mt-6 mb-3">Dhruvil Jain</h2>
          <p class="leading-relaxed text-base">Interested in Artificial Intelligence and Machine Learning. Proficient with Python, C++, Kotlin and Object Oriented Programming. Connect with me at <b><a target="_blank" style="color:rgb(27, 169, 235);" href="https://www.linkedin.com/in/dhruvil-jain-515566233">LinkedIn</a></b> or <b><a style="color:rgb(27, 169, 235);" target="_blank" href="https://github.com/djajsk">GitHub</a></b></p></p>
        </div>
        <div class="sm:w-1/2 mb-10 px-4">
          <h2 class="title-font text-2xl font-medium text-gray-900 mt-6 mb-3">Navneet Lamba</h2>
          <p class="leading-relaxed text-base">Interested in Artificial Intelligence and Machine Learning. Proficient with Python, Django, C++, Kotlin, SQLITE3 and Object Oriented Programming. Connect with me at <b><a target="_blank" style="color:rgb(27, 169, 235);" href="https://www.linkedin.com/in/navneet-lamba">LinkedIn</a></b> or <b><a style="color:rgb(27, 169, 235);" target="_blank" href="https://github.com/lnavneet331">GitHub</a></b></p>
        </div>
      </div>
    </div>
  </section>

{% endblock %}