{% extends 'hospital/homebase.html' %}


{% block content %}

<section class="text-gray-600 body-font">
  <div class="container px-5 py-24 mx-auto flex flex-wrap">
    <h2 class="sm:text-3xl text-2xl text-gray-900 font-medium title-font mb-2 md:w-2/5">Hello, Doctor</h2>
    <div class="md:w-3/5 md:pl-6">
      <p class="leading-relaxed text-base">Thank you for your service towards mankind. If you have are already registered than please signup or if you are not registered please register and an exceutive will approve your registration in no time.</p>
      <div class="flex md:mt-4 mt-6">
        <a href="/doctorsignup" class="inline-flex text-white bg-indigo-500 border-0 py-1 px-4 focus:outline-none hover:bg-indigo-600 rounded" role="button">Register</button>
        <a class="text-indigo-500 inline-flex items-center ml-4" href="/doctorlogin">Login
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
            <path d="M5 12h14M12 5l7 7-7 7"></path>
          </svg>
        </a>
      </div>
    </div>
  </div>
</section>

{% endblock content %}
