{%load static%}
<head>  <script src="https://cdn.tailwindcss.com"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{%static 'footerstyles.css'%}">

<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Play&display=swap" rel="stylesheet"> 
</head>
<body>
<footer>
<div class="footer">

  <p>Made With ❤️ by Navneet Lamba and Dhruvil Jain @2022</p>
  <a target="_blank" href="https://icons8.com/icon/nW212PgXknEV/hospital-sign">Hospital Sign</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a>
<div></div>
</footer> 